.container {
  max-width: 700px;
  margin: 50px auto;
}

.user-card-wrapper {
  display: flex;
  gap: 20px;
}

.green-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  display: block;
}

.red-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: block;
}